{{"<h4>Choisissez vos num&eacute;ros</h4>"}}
{% if form is defined %}
    {% form_theme form ':default:form_custom.html.twig' %}
    {{ form_start(form) }}
        {% for LottoItem in form.children %}
            {% if loop.index == 6 or loop.index == 11 or loop.index == 16 or loop.index == 21
                              or loop.index == 26 or loop.index == 31 or loop.index == 36 or loop.index == 41
                              and LottoItem.vars.id != 'form_Simuler' %}
                <br />
            {% endif %}
            {% if loop.index is divisible by(46) and LottoItem.vars.id != 'form_Simuler' %}
                <br /><br />
                {{ form_label(LottoItem) }}
            {% endif %}
            {{form_row(LottoItem)}}
        {% endfor %}
    {{ form_end(form) }}
{% endif %}

