{% extends "::base.html.twig" %}

{% block stylesheetsSimulottery %}
    {% stylesheets'bundles/simuloto/css/bootstrap-toggle.css' filter='cssrewrite'  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %} 

{% block javascriptsSimulottery %}
    {%  javascripts 'bundles/simuloto/js/lottoSimulation.js' 'bundles/simuloto/js/bootstrap-toggle.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% form_theme form _self %}
{%- block form_row -%}
{{- form_errors(form) -}}
{{- form_widget(form) -}}
{%- endblock form_row -%}

{% block title %}SimulotoBundle:Lotto:lotto{% endblock %}

{% block body %}
    <h1>Welcome to the Lotto:result page</h1>
    
    {{ form_start(form) }}
    {% for LottoItem in form.children %}
        {% if loop.index == 7 or loop.index == 13 or loop.index == 19 or loop.index == 25
                              or loop.index == 31 or loop.index == 37 or loop.index == 43  %}
            <br />
        {% endif %}
        {% if loop.index is divisibleby(46) %}
            <br />
        {% endif %}
        {{form_row(LottoItem)}}
    {% endfor %}
    {{ form_end(form) }}

{% endblock %}
